<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shelter.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shelter.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shelter.location_id %>
</p>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
