<div class="container" style="">
    <div class="jumbotron">
        <h1>CALL 1876</h1>
        <p>ရေဘေး အကူညီတောင်းရန် (သို့မဟုတ်) အကူညီပေးရန် 1876 ကိုဖုန်းခေါ်လိုက်ပါ။ <br/>
        Call 1876 to Request Aid OR Offer Aid for Flood Victims.</p>
        <p><a class="btn btn-primary" href="/about">Learn more (အသေးစိတ်) &raquo;</a></p>
    </div>
</div>
<div class="container">
    <h3>2015 Flood Locations</h3>
    <div class="row">
        <%- @locations.each do |location| -%>
            <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= location.township %> <span style="font-size:0.8em;">(<%= location.state%>) <span class="label label-danger"><%= location.status %></span><br/></span></h3>
                </div>
                <div class="panel-body">
                    <div>
                    <label>Total Requests</label>&nbsp;<span class="badge"><%= location.aid_requests.length %></span></label>&nbsp;
                    <label>Total Offers</label>&nbsp;<span class="badge"><%= location.aid_offers.length %></span></label>
                </div>
                <br/>
                    <div class="text-right">
                        <a href="#" class="btn btn-primary btn-xs" title="Map of <%= location.township%>">
                            <span class="glyphicon glyphicon-map-marker"></span> 
                        </a>
                        <a href="/+/<%= location.township%>" class="btn btn-primary btn-xs">Details</a> 
                     </div>
                </div>
            </div>
        </div>
    <%- end -%>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Latest Aid Requests</h4>
            <%- @requests.each do |req| -%>
            <div class="panel panel-default">
                <div class="panel-body">
                    req.content
                </div>
            </div>
            <%- end -%>
        </div>
        <div class="col-md-6">
            <h4>Latest Aid Offers</h4>
            <%- @offers.each do |offer| -%>
            <div class="panel panel-default">
                <div class="panel-body">
                   offer.content 
                </div>
            </div>
            <%- end -%>
        </div>
    </div>
</div>
