<%= form_for @aid_request, :html => {:class => "form form-horizontal"} do |f| %>
    <%= f.hidden_field :code %>
  <div class="form-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <%= f.select :location_id, options_for_select([["ANY",-1]] + @locations.collect do |l| [(((l.mm_township.nil? or l.mm_township.empty?) ? nil : l.mm_township) || l.township) + " (" + l.state + ")", l.id]; end, @aid_request.location_id), {}, :class => 'form-control' %>
    <span id="helpBlock1" class="help-block">ေနရာ မသတ္မွတ္နိုင္လွ်င္ ANY ကိုေရြးပါ။</span>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <%= f.text_area :content, :class => 'form-control', :rows => "6" %>
    <span id="helpBlock2" class="help-block">စာေျကာင္းရွည္ရွည္ေရးပါက စာလံုးမ်ားျကားတြင္ Space ရိုက္ေပးပါ။</span>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label' %>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nric, :class => 'control-label' %>
    <%= f.text_field :nric, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                aid_requests_path, :class => 'btn' %>
  </div>
<% end %>
