<%- model_class = AidRequest -%>
<div class="container">
<div class="page-header">
  <h4> အကူညီ ေတာင္းခံမႈမ်ား</h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("code") %></th>
      <th><%= model_class.human_attribute_name("contact") %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @aid_requests.each do |aid_request| %>
      <tr>
        <td><%= aid_request.code %></td>
          <td><%= (aid_request.name || "") + "(#{aid_request.phone||""})<br/>#{aid_request.nric || ""}"%></td>
        <td><%= aid_request.content %></td>
        <td><%= aid_request.location.nil? ? "ANYWHERE" : aid_request.location.township %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_aid_request_path(aid_request), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      aid_request_path(aid_request),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_aid_request_path,
            :class => 'btn btn-primary' %>
    </div>
   
