<%= form_for @aid_offer do |f| %>
  <div class="form-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <%= f.select :location_id, options_for_select([["ANY",-1]] + @locations.collect do |l| [l.state + " - " + l.township, l.id]; end, @aid_offer.location_id), {}, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <%= f.text_area :content, :class => 'form-control', :rows => 6 %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label' %>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :nric, :class => 'control-label' %>
    <%= f.text_field :nric, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                aid_offers_path, :class => 'btn' %>
  </div>
<% end %>
