<div class="container">
<%- model_class = AidOffer -%>
<div class="page-header">
    <h3>အကူညီ ေပးလိုမႈမ်ား</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @aid_offers.each do |aid_offer| %>
      <tr>
        <td><%= (aid_offer.name || "") + "(#{aid_offer.phone||""}) [#{aid_offer.nric || ""}]"%></td>
        <td><%= aid_offer.content %></td>
        <td><%= aid_offer.location.nil? ? "ANYWHERE" : aid_offer.location.township %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_aid_offer_path(aid_offer), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      aid_offer_path(aid_offer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_aid_offer_path,
            :class => 'btn btn-primary' %>
</div>
