<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aid_offer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @aid_offer.phone %>
</p>

<p>
  <strong>Nric:</strong>
  <%= @aid_offer.nric %>
</p>

<p>
  <strong>Content:</strong>
  <%= @aid_offer.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @aid_offer.location_id %>
</p>

<%= link_to 'Edit', edit_aid_offer_path(@aid_offer) %> |
<%= link_to 'Back', aid_offers_path %>
