<%= form_for @location do |f| %>
  <div class="form-group">
    <%= f.label "Emergency Level", :class => 'control-label' %>
    <%= f.select :seq, options_for_select([[1,1],[5,5],[10,10],[20,20],[50,50],[100,100],[1000,1000]], @location.seq), {}, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label' %>
    <%= f.text_field :state, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :township, :class => 'control-label' %>
    <%= f.text_field :township, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mm_state, :class => 'control-label' %>
    <%= f.text_field :mm_state, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mm_township, :class => 'control-label' %>
    <%= f.text_field :mm_township, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label' %>
    <%= f.text_field :status, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lat, :class => 'control-label' %>
    <%= f.text_field :lat, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lon, :class => 'control-label' %>
    <%= f.text_field :lon, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :demographic, :class => 'control-label' %>
    <%= f.text_area :demographic, :value => @location.demographic.to_json, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                locations_path, :class => 'btn' %>
  </div>
<% end %>
